DISCORD_TOKEN=your_bot_token_here

WEB_SETTINGS_HOST=0.0.0.0
WEB_SETTINGS_PORT=8800
WEB_SETTINGS_BASE_URL=http://localhost:8800
WEB_SETTINGS_TLS_CERT=/path/to/cert.pub
WEB_SETTINGS_TLS_KEY=/path/to/cert.key

ACTIVITY_PORT=2053
ACTIVITY_STATIC_DIR=/path/to/activity/dist
ACTIVITY_TLS_CERT=/path/to/cert.pub
ACTIVITY_TLS_KEY=/path/to/cert.key
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_CLIENT_SECRET=your_client_secret_here
